{$DOMAIN}, www.{$DOMAIN} {
	encode zstd gzip
	reverse_proxy bot:8000
	handle_errors 502 503 504 {
		header Access-Control-Allow-Origin "*"
		respond "Сервер недоступен. Попробуйте позже." 502
	}
}

admin.{$DOMAIN} {
	reverse_proxy admin:3000
}

main-svoi.{$DOMAIN} {
	reverse_proxy platform-admin:3000
}

www.svoi-kanal.ru {
	redir https://svoi-kanal.ru{uri} permanent
}

svoi-kanal.ru {
	encode zstd gzip
	root * /srv/landing
	header /img/* Cache-Control "public, max-age=604800"
	file_server
}
